/* 因為這個檔案不在 custom element 中，只會加在 head 上，不會影響 shadow dom，所以是 App.vue 開發時使用的 style */

:root {
  background-color: #ffffff;
}
@media (prefers-color-scheme: dark) {
  :root {
    background-color: #242424;
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
